<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Настройки реферальной программы</title>
</head>
<body>
    <p>Вознаграждение за привлечение пользователя.</p>

    <p>Вознаграждение привлеченному пользователю.</p>


    <p>Вознаграждение в % за заказ привлеченным пользователем.</p>


    <p>Вознаграждение себе в % за свой заказ</p>


    <p>Возможность включать/отключать вознаграждение, за
    приглашение, пока преферал не сделал заказ.</p>


    <p>Возможность включать/отключать вознаграждение за
    собственный заказ.</p>


    <p>Возможность включать/отключать вознаграждение за заказ
    рефералов.</p>


</body>
</html>

